body {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 60%;
    margin: 60px auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 12px;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

h3 {
    color: #00ffd5;
}

h2 {
    margin-top: 30px;
    color: #ffd369;
}

ul {
    list-style-type: square;
}

.skills span {
    display: inline-block;
    background: #00ffd5;
    color: black;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 6px;
    font-size: 14px;
}
