<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soni Deshmukh | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>

<div class="container">
    <h1>Soni Deshmukh</h1>
    <h3>Software Engineer | AI Enthusiast</h3>

    <p>Passionate developer.</p>

    <h2>Projects</h2>
    <ul>
        <li>Crop system</li>
        <li>Cloud-Based Collaboration Platform</li>
    </ul>

    <h2>Skills</h2>
    <div class="skills">
        <span>Python</span>
        <span>Flask</span>
        <span>Machine Learning</span>
        <span>HTML & CSS</span>
        <span>AWS</span>
    </div>

    <h2>Contact</h2>
    <p>Email: soni.deshmukh@gmail.com</p>
    <p>LinkedIn: linkedin.com/in/sonideshmukh</p>
</div>

</body>
</html>
